* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error__page {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error__page .header {
  font-size: 7rem;
  padding: 12px;
  background-color: red;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.error__page .header:hover {
  background-color: #3c4c4c;
  cursor: pointer;
}
